/* Kai Theme */
.buffee-themepack1.kai {
  background-color: #272822;
  color: #f8f8f2;
}
.buffee-themepack1.kai .wb-selection {
  background-color: #75715e;
  mix-blend-mode: normal;
}
.buffee-themepack1.kai .wb-cursor {
  background-color: #f92672;
}
